%sans-regular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

%sans-bold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

%monoton{
    font-family: 'Monoton', cursive;
    font-weight: 400;
}

%alconica{
    font-family: 'Aclonica', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

%east{
    font-family: 'East Sea Dokdo', cursive;
    font-weight: 400;
}

// COLOR
$white: #FFF;
$buttercup: #F0C30F;
$shark: #2D3038;
$gallery: #EAEAEA;

$chilean-fire: #F36F03;
$flush-orange: #FE8103;
$feb-orange: #FEA700;
$peach-orange: #FFCD98;
$driftwood: #B98146;
$brown-bramble: #5D2904;
$cioccolato: #522609;
$eternity: #261710;

$electric-violet: #6610F2;
$eucalyptus: #28A745;
$azure: #007BFF;
$crimson: #ED1C24;

$flamingo:#F26522;
$lipstick:#B90162;
$silver:#CACACA;

$filter-active: invert(72%) sepia(63%) saturate(3865%) hue-rotate(3deg) brightness(107%) contrast(102%);
