@include mq("desktop") {

    .humburger {
        position: fixed;
        z-index: 300;
        right: 5%;
        top: 2%;
        cursor: pointer;
        border: 2px solid $buttercup;
        padding: 8px;
        border-radius: 50%;
        @include easeOut;
    
        &__line {
            width: 26px;
            height: 2px;
            margin: 5px 0;
            background: $buttercup;
            @include easeOut;
        }
    
        &.close {
            transform: rotate(180deg);
    
            .humburger__line {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px,6px);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, -5px);
                }
            }
        }
    }

}